[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target
After=mysqld.service
After=postgresql.service
After=memcached.service
After=redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
RestartSec=1s
Type=simple
User=git
Group=git
WorkingDirectory="{{ gitea_dir }}"
ExecStart=/usr/bin/gitea web --config "{{ gitea_dir }}/app.ini"
Restart=always
Environment=USER=git HOME="{{ gitea_dir }}/gitea/repos" GITEA_WORK_DIR="{{ gitea_dir }}/lib/gitea"

[Install]
WantedBy=multi-user.target

