local   all         postgres                          peer

# TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD
local   all         all                               md5
host    all         all         {{ postgres_allowed_ipv4 }} md5
host    all         all         {{ postgres_allowed_ipv6 }} md5

